#lang {
  margin: 10px 50px;
  float: left;
}
.help {
  cursor: help;
}
.autowidth {
  width: auto;
  display: inline;
}
.floatleft {
  float: left;
  margin-left: 6px;
}
.clearleft {
  clear: left;
}