#lang {
  margin: 10px 50px;
  float: left;
}
.help {
  cursor: help;
}
.autowidth {
  width: auto;
  display: inline;
}
.inputtext {
  padding: 4px;
}
.dateadjust {
  margin: 20px 0px 20px 12px;
}
#dateicon {
  cursor: pointer;
}
#chat {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}