extends ../layout

block append content
  .container
    h1 Мои заявки
    table.table.table-striped
      thead
        tr
          th Наименование
          th Описание
          th Дата создания
          th
      tbody
        for bid in bids
          tr
            td #{bid.vacancy.title}
            td #{bid.vacancy.description}
            td #{bid.vacancy.creationDate}
            td
              a.btn.btn-link(href=domainName + "/recruiter-show-vacancy/" + bid.vacancy.id).
                Подробнее
