extends ../layout

block append head
  title=fmt.message("error.403", locale)
block append content
  .container
    .navbar-header
      a.navbar-brand(href=domain.buildFullUri("", locale)).
        #{fmt.message("error.403", locale)}