extends ../layout

block append head
  title=fmt.message("error.403")
block append content
  .container
    .navbar-header
      a.navbar-brand(href=domain.getAbsoluteUrl()).
        #{fmt.message("error.403")}