extends ../layout

block append head
  title=fmt.message("error.500", locale)
block append content
  .container
    .navbar-header
      a.navbar-brand(href=domain.getAbsoluteUrl(locale)).
        #{fmt.message("error.500", locale)}