extends layout

block append content
  .container
    h1 Выбор рекрутёра
    h2 Лесоруб
    .row
      .col-md-6
        ul.list-group
          li.list-group-item
            | Иванов Иван
            button.btn.btn-link.badge(type="button")
              a(href="#").
                Подробнее
          li.list-group-item
            | Петров Пётр
            button.btn.btn-link.badge(type="button")
              a(href="#").
                Подробнее
          li.list-group-item
            | Константинопольский Константин
            button.btn.btn-link.badge(type="button")
              a(href="#").
                Подробнее

        h2 Сантехник
        ul.list-group
          li.list-group-item
            | Иванов Иван
            button.btn.btn-link.badge(type="button")
              a(href="#").
                Подробнее
          li.list-group-item
            | Петров Пётр
            button.btn.btn-link.badge(type="button")
              a(href="#").
                Подробнее
          li.list-group-item
            | Константинопольский Константин
            button.btn.btn-link.badge(type="button")
              a(href="#").
                Подробнее
