extends layout

block append content
  .container
    .row
      .col-md-8
        h2 Информация о рекрутёре
        p.
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      .col-md-4
        h2 Вакансия:
        p.
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.

    .row
      .col-md-6
        button.btn.btn-success(type="button") Нанять
        button.btn.btn-danger(type="button") Отклонить