extends layout

block append content
  .container
    .row
      .col-md-6
        h1 Кандидат на вакансию
        h2 #{applicant.firstName} #{applicant.lastName}
        dl.dl-horizontal
          dt Краткая информация
          dd #{applicant.description}
          a.btn.btn-link(href="#").
            Скачать резюме
        button.btn.btn-link(type="button")
          a.btn.btn-link(href="#").
            Скачать тестовое задание
    .row
      .col-md-6
        a.btn.btn-success(href="#") Нанять
        a.btn.btn-danger(href="#") Отклонить