extends layout

block append content
  .container
    h1 Мои вакансии с рекрутёром
    table.table.table-striped
      thead
        tr
          th Наименование
          th Описание
          th Дата создания
          th Рекрутёр
          th
      tbody
        for vacancy in vacancyList
          tr
            td #{vacancy.title}
            td #{vacancy.description}
            td #{vacancy.creationDate}
            td #{vacancy.recruiterName}
            td
              a.btn.btn-link(href = domainName + "/employer-progress-vacancy-show/vacancy/" + vacancy.id + "/recruiter/" + vacancy.recruiterId).
                Подробнее