extends layout

block append content
  .container
    h1 Мои вакансии с рекрутёром
    table.table.table-striped
      thead
        tr
          th Наименование
          th Описание
          th Дата создания
          th Рекрутёр
          th
      tbody
        tr
          td Программист
          td PHP guru
          td сегодня
          td Иванов
          td
            button.btn.btn-link(type="button")
              a(href="#").
                Подробнее
        tr
          td Лесоруб
          td Умеет клёво рубить сосны
          td сегодня
          td Иванов
          td
            button.btn.btn-link(type="button")
              a(href="#").
                Подробнее
        tr
          td Сантехник
          td Не пьёт!
          td сегодня
          td Иванов
          td
            button.btn.btn-link(type="button")
              a(href="#").
                Подробнее