extends layout

block append content
  .container
    h1 Выбор рекрутёра
    for vacancy in vacancyList
      h2 #{vacancy.title}
      .row
        .col-md-6
          ul.list-group
            for vacancyRecruiter in recruiterList
              if vacancyRecruiter.vacancyId == vacancy.id
                li.list-group-item
                  #{vacancyRecruiter.firstName} #{vacancyRecruiter.lastName}
                  a.btn.btn-link.pull-right(href = domain.getAbsoluteUrl() + "/employer-recruiter-show/recruiter/" + vacancyRecruiter.id + "/vacancy/" + vacancyRecruiter.vacancyId).
                    Подробнее
