extends layout

block append head
  script(src='resources/js/main.js')
  link(href='resources/stylesheets/styles.css', rel="stylesheet", type="text/css)
block append content
  include books

  h1 Hello World
  mixin books(books)