extends layout

block append content
  .container
    h2 Создание кандидата
    form
      .row
        .col-md-6
          .form-group
            label(for="name")
            input(type="text", class="form-control", id="name", placeholder="Имя")
          .form-group
            label(for="last-name")
            input(type="text", class="form-control", id="last-name", placeholder="Фамилия")
          .form-group
            label(for="descr")
            textarea(class="form-control", id="descr", placeholder="Описание")
          .form-group
            label(for="resume") Прикрепить резюме
            input(type="file", id="resume", placeholder="Прикрепить резюме")
          .form-group
            label(for="test-answers") Ответы на тест
            input(type="file", id="test-answers", placeholder="Ответы на тест")
          button.btn.btn-success(type="button") Добавить
          button.btn.btn-link(type="button")
            a(href=domainName + "/recruiter-progress-vacancy-show/1") К описанию вакансии