extends layout

block append content
  .container
    h1 Поиск активных вакансий
    table.table.table-striped
      thead
        tr
          th Наименование
          th Описание
          th Дата создания
          th
      tbody
        tr
          td Программист
          td PHP guru
          td сегодня
          td
            button.btn.btn-link(type="button").
              Подробнее
        tr
          td Лесоруб
          td Умеет клёво рубить сосны
          td сегодня
          td
            button.btn.btn-link(type="button").
              Подробнее
        tr
          td Сантехник
          td Не пьёт!
          td сегодня
          td
            button.btn.btn-link(type="button").
              Подробнее