<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:security="http://www.springframework.org/schema/security"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                                  http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                                  http://www.springframework.org/schema/security
                                  http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <security:http access-denied-page="/" use-expressions="true" auto-config="true">
        <security:intercept-url pattern="/recruiter**" access="hasRole('ROLE_RECRUITER')" />
        <security:intercept-url pattern="/employer**" access="hasRole('ROLE_EMPLOYER')"/>
        <security:anonymous granted-authority="ROLE_ANONYMOUS" key="anonymousKey" username="guest"/>
        <security:form-login login-page="/" authentication-failure-url="/?error=true" default-target-url="/" always-use-default-target="true" />
        <security:logout logout-success-url="/" />
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="recruiter" password="123123" authorities="ROLE_RECRUITER" />
                <security:user name="employer" password="123123" authorities="ROLE_EMPLOYER" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>